.testdiv{
    background: #ff4e76;
}

.logo{
    background-image: url("../images/logo.png");
    background-size: cover;
    height: 44px;
    width: 47px;
    margin-top: 7.5px;
}

.page_name{
    font-size: 30px;
    color: #fdfdfddb;
    text-align: center;
    padding-top:7px;
}

#canvasSimpleDiv{
    background-image: url("../images/sheet.png");
    background-size: 30%;
    width: 620px;
    height: 300px;
}